header {
    margin:0;
    padding: 0px;
    background: rgb(67, 67, 67);
    color: lightgray;
}

img{
    margin:1%;
    padding:0px;
}
ul{
    list-style-type:none;
    margin: 1%;
    padding: 0;
    overflow: hidden;
}

li{
    float:left;
}
li {
    display:block;
    margin: 30px;
    padding: 0;
    font-size: 15px;
    font-family:Cambria;
    background-color: rgb(67, 67, 67);
    color: lightgray;
    text-align: center;
}
