header {
    margin:0;
    padding: 0px;
    background: rgb(67, 67, 67);
    color: lightgray;
    height: 100px;
}


ul{
    list-style-type:none;
    margin: 0%;
    padding: 0;
    overflow: hidden;
}

li{
    float:left;

}

a {
    display: block;
    text-decoration: none;
    color: lightgray;
    margin: 28px;
    text-align: bottom;
}

li {
    display:block;
    margin: 3px;
    padding: 0;
    font-size: 17px;
    font-family: Georgia;
    background-color: rgb(67, 67, 67);
    color: lightgray;
    text-align: center;
}
section img{
    margin:0;
    padding:10px;
}

section div {
    float: left;
    margin-bottom: 20px;
}

section div p {
    position: relative;
    width: 460px;
    height: 280px;
    overflow: scroll;
    font-size: medium;

}

button {
    border-radius: 4px;
    height: 45px;
    width: 150px;
    font-size: 14px;
    margin: 20px;
    background: black;
    color: white;
}

footer {
    clear: both;
    margin-left: 0px;
    background-color: gray;
    height: 150px;
}